<!DOCTYPE html>
<html lang="zxx">

<%- include("../blocks/head") %> 

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <%- include("../blocks/header") %> 
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Thời trang trẻ em</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    
                    <%- include("../common/shop/filter-widget-brand") %> 
                    <%- include("../common/shop/filter-widget-price") %> 
                   
                    <%- include("../common/shop/filter-widget-size") %> 
                    <%- include("../common/shop/filter-widget-tag") %> 
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <div class="select-option">
                                    <select class="sorting">
                                        <option value="0">Giá</option>
                                        <option value="1">Thương hiệu</option>
                                        <option value="2">Size</option>
                                       
                                    </select>
                                    <select class="sorting">
                                        <option value="0">09</option>
                                        <option value="1">36</option>
                                        
                                       
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 text-right">
                                <p>Hiển thị 01- 09 hoặc 36 sản phẩm</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="row">
                            <% data.forEach( element => { %>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="product-item">
                                        <div class="pi-pic">
                                            <img style="width: 150px; height: 290px;" src="upload/help/product/<%- element.image_product %> " alt="">
                                            <div class="icon">
                                                <i class="icon_heart_alt"></i>
                                            </div>
                                            <ul>
                                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                                <li class="quick-view"><a href="#">+ Xem ngay</a></li>
                                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="pi-text">
                                            <div class="catagory-name"><%- element._brand.name %> </div>
                                            <a href="/product">
                                                <h5><%- element.title %> </h5>
                                            </a>
                                            <div class="product-price">
                                                <%- element.price %> 
                                                <span>350.000 VNĐ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%}) %> 

                        </div>
                    </div>
                    <% if(data.length > 0){%>
                        <nav aria-label="Page navigation example" style="margin-left: 290px;">
                            <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="http://localhost:3001/shop-men?page=1">Trở lại</a></li>
                            <li class="page-item"><a class="page-link" href="http://localhost:3001/shop-men?page=1">1</a></li>
                            <li class="page-item"><a class="page-link" href="http://localhost:3001/shop-men?page=2">2</a></li>
                            <li class="page-item"><a class="page-link" href="http://localhost:3001/shop-men?page=3">3</a></li>
                            <li class="page-item"><a class="page-link" href="http://localhost:3001/shop-men?page=4">Tiếp theo</a></li>
                            </ul>
                      </nav>
                    <%} else { %>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="http://localhost:3001/shop-men?page=1">Trở lại</a></li>
                            
                            </ul>
                      </nav>
                   <% } %> 
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->

    <!-- Partner Logo Section Begin -->
 
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <%- include("../blocks/footer") %> 
    <!-- Footer Section End -->

    <!-- Js Plugins -->
   <%- include("../blocks/js-page") %>
</body>

</html>