<!DOCTYPE html>
<html lang="en">
<%- include("../../../views/blocks/admin/head-admin") %>

<body>

  <!--Header-part-->
  <div id="header">
    <h1><a href="dashboard.html">Fashi Admin</a></h1>
  </div>
  <!--close-Header-part-->

  <%- include("../../../views/blocks/admin/nav-header-top-admin") %>
  <!--top-Header-menu-->

  <!--close-top-Header-menu-->
  <!--start-top-serch-->
  <%- include("../../../views/blocks/admin/search-admin") %>
  <!--close-top-serch-->
  <!--sidebar-menu-->
  <%- include("../../../views/blocks/admin/sidebar-menu-admin") %>
  <!--sidebar-menu-->

  <!--main-container-part-->
  <div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
      <div id="breadcrumb"> <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
      </div>
    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    
          <!-- <button id="addProductKid" class="btn btn-danger"  data-toggle="modal" data-target="#addProductKid" style="float: right; height: 37px;"><i class="icon-plus"></i></<i></button> -->
          <!-- Button trigger modal -->
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductKid">
        Add
      </button> -->
         
          <!-- Modal -->
         
            <!-- <div class="modal fade" id="addProductKid" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body"> -->
                      <div>
                          <h5>Sửa sản phẩm</h5>
                      </div>
                    <form style="margin-left: 250px;" action="http://localhost:3001/admin/page/shop-men/edit-product-men/<%- pros._id %> " method="POST">
                        <label>Tên sản phẩm</label>
                        <input type="text" name="txtName" id="name" placeholder="Nhập tên sản phẩm" /><br/>
                        <label>Tên thể loại</label>
                        <input type="text" name="txtCategory" id="category" placeholder="Nhập nhà thể loại" /><br/>
                        <label>Ảnh cũ</label>
                        <img src="http://localhost:3001/upload/1582882053322-IMG_1971.JPG" style="width: 150px; height: 150px;"/><br/>
                        <label>Ảnh mới</label>
                        <input type="file" name="fileImage" id="image" /><br/>
                        <label>Tên thương hiệu</label>
                        <input type="text" name="txtMaker" id="maker" placeholder="Nhập thương hiệu" /><br/>
                        <label>Giá bán</label>
                        <input type="text" name="txtPrice" id="price" placeholder="Nhập giá bán" /><br/>
                        <label>Giá giảm</label>
                        <input type="text" name="txtDiscount" id="discout" placeholder="Nhập giá giảm" /><br/>
                        

                    <!-- </div>
                    <div class="modal-footer"> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="btnSaveProduct" type="submit" class="btn btn-primary">Save</button>
                    </form>
                  <!-- </div>
                </div>
              </div>
            </div>
        </div>
      </div> -->
     

    <!--end-main-container-part-->

    <!--Footer-part-->

    <%- include("../../../views/blocks/admin/footer-admin") %>

    <!--end-Footer-part-->

    <%- include("../../../views/blocks/admin/script-admin") %>
    <script src="js/matrix.tables.js"></script>

    <script type="text/javascript">
      // This function is called from the pop-up menus to transfer to
      // a different page. Ignore if the value returned is a null string:
      function goPage(newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-") {
            resetMenu();
          }
          // else, send page to designated URL            
          else {
            document.location.href = newURL;
          }
        }
      }

      // resets the menu selection upon entry to this page:
      function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
      }
    </script>

</body>

</html>