<!DOCTYPE html>
<html lang="en">
<%- include("../../../views/blocks/admin/head-admin") %>

<body>

    <!--Header-part-->
    <div id="header">
        <h1><a href="dashboard.html">Fashi Admin</a></h1>
    </div>
    <!--close-Header-part-->

    <%- include("../../../views/blocks/admin/nav-header-top-admin") %>
    <!--top-Header-menu-->

    <!--close-top-Header-menu-->
    <!--start-top-serch-->
    <%- include("../../../views/blocks/admin/search-admin") %>
    <!--close-top-serch-->
    <!--sidebar-menu-->
    <%- include("../../../views/blocks/admin/sidebar-menu-admin") %>
    <!--sidebar-menu-->

    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"> <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
                    Home</a>
            </div>
        </div>
        <!--End-breadcrumbs-->

        <!--Action boxes-->
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                <h5>Quản lý cửa hàng nữ</h5>
                <div>


                    <div style="float: right;">
                        <button type="button" id="btnAddAccount" class="btn btn-success" data-toggle="modal"
                            data-target="#addAccount">
                            Thêm
                        </button>
                    </div>
                    <!-- Modal -->
                    <form action="http://localhost:3001/admin/page/admin-user/create-user" method="POST"
                        id="modal-create">
                        <div class="modal fade" id="addAccount" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Thêm sản phẩm</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <input type="text" name="txtName" id="name" placeholder="Nhập tên tài khoản" />
                                        <input type="text" name="txtPassword" id="password"
                                            placeholder="Nhập mật khẩu" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Đóng</button>
                                        <button id="btnSave" type="submit"
                                            class="btn btn-primary">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                         </form>
                </div>
            </div>
           
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align: center;">STT</th>
                            <th >Tên tài khoản</th>
                            <th>Mật khẩu</th>
                            <th>Vai trò</th>
                            <th style="width: 150px;"></th>
                        </tr>
                    </thead>
                    <tbody id="data-table">
                      <% users.forEach( (user, index) => { %>
                        <tr class="gradeX">
                        <td style="text-align: center;"><%- index+1 %> </td>
                        <td style="text-align: center;"><%- user.username %> </td>
                        <td style="text-align: center;"><%- user.password %> </td>
                        <% if(user.role === 0) { %>
                            <td style="text-align: center;">Super admin</td>
                        <%} else if (user.role === 1) { %>
                            <td style="text-align: center;">Admin</td>
                       <% } else{ %>
                        <td style="text-align: center;">Khách hàng</td>
                       <% } %>
                        
                        <td style="text-align: center;">
                            <% if(user.role === 0) { %>
                                 <button class="btn btn-info btnEditAccount" data-toggle="modal" data-id="<%- user._id %>"
                                data-target="#editAccount"> <i class="icon-edit">&nbsp; </i>Sửa</<i>&nbsp; </button>
                           <% } else { %>
                                <button class="btn btn-info btnEditAccount" data-toggle="modal" data-id="<%- user._id %>"
                                data-target="#editAccount"> <i class="icon-edit">&nbsp; </i>Sửa</<i>&nbsp; </button>
                                <button class="btn btn-danger btnDeleteAccount" data-toggle="modal" data-id="<%- user._id %>"
                                data-target="#deleteAccount">Xóa</button>
                            <%}%> 
                          
                        </td>
                      </tr>
                     <% }) %> 


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <form action="" method="POST"
    id="modal-delete">
    <div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="modal-delete">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Xóa tài khoản</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Bạn có muốn xóa tài khoản này không?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary btnConfirmDelete" >Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- modal edit -->
    <form action="" method="POST" id="modal-edit">
                        <div class="modal fade" id="editAccount" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Sửa sản phẩm</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="text-align: center;">
                                        <label><b>Tên tài khoản</b>  </label>
                                        <input type="text" name="Name" id="edit-name" placeholder="Nhập tên tài khoản" /> <br/>
                                            <label><b>Mật khẩu mới</b></label>
                                            <input type="password" name="newPassword" id="newPassword" placeholder="Nhập mật khẩu mới" /><br/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Đóng</button>
                                        <button id="btnSaveEdit" type="submit"
                                            class="btn btn-primary">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            </form>

    <%- include("../../../views/blocks/admin/script-admin") %>
</body>

</html>